:root{
  --main-hue: 208;
  --main-color:hsl(var(--main-hue), 92%, 54%);
  --main-color-hover:hsl(var(--main-hue), 77%, 48%);
  --input-bg: hsla(var(--main-hue),50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue),50%, 50%, 14%);

  --primary-color:#ffffff;
  --primary-color-light:#cacaca;
  --primary-color-extra-light:#f7f7f7;
  --secondary-color:#f9ac54;
  --secondary-color-dark:#d79447;
  --text-light:#220602;
  --white:#1f2125;
  --max-width: 1200px;
}

[data-theme=dark]{
  --primary-color:#111317;
  --primary-color-light:#1f2125;
  --white:#ffffff;
  --primary-color-extra-light:#35373b;
  --text-light:#d1d5db;

}

* {
  box-sizing: border-box;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
